.recipe{
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgb(71,71,71) ;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-width: 40%;
	background-color:white ;
	font-family: 'Architects Daughter', cursive;
	font-weight: 1.5rem;
}

.img {
	border-radius: 75%;
}